*{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat',sans-serif;
}

p{
	font-family: 'Nubito',sans-serif;
	font-size: 20px;
	line-height: 30px;
	columns: #6c757d;
}


.bg-sec{
	background: #F8F9A;
}

.r-p{
	padding-top: 80px;
	padding-bottom: 80px;
}

.r-btn{
	padding: 5px 20px;
	background-color: #EE8683 !important;
}











@@keyframes animate{
	0%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(360deg);
	}
}

/*Navigration*/

nav .r-nav{
	background: transparent;
	padding: 20px 0;
	transition: .5s all;
}

nav .navbar-brand{
	font-size: 30px;
	color: #fff;
}


nav .navbar-nav li a{
	color: rgba(255, 255, 255, 0.8) !important;
	font-size: 16px;
	letter-spacing: 0.05em;
	font-weight: 600;
	
	font-family: 'Nunito',sans-serif;	
}

nav .navbar-nav li{
	margin-left: 15px;
}

nav.r-nav.stickyadd{
	background: #fff !important;
	padding: 15px 0;
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
	transition: .5s all ease-in-out;
}

nav.stickyadd .navbar-brand{
	color: #000;
	font-size: 40px;
	transition: .5s all;
}
nav.stickyadd .navbar-nav .nav-link{
	color: #000 !important;
}



/*header*/

header{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/bg-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-content{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content-box{
	max-width: 	700px;
	color: #fff;
}

.content-box h4{
	font-size: 45px;
	font-weight: 40em;
}

.content-box h1{
	font-size: 55px;
}

.content-box a{
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 5px 25px;
}

.content-box a:hover{
	color: #000;
	background: #fff;
	transition: 0.5s all;
}

/*About*/

.sun{

	text-align: center;
	margin-top: px;
}

.p-1{
	height: 100vh;
	width: 100%;
	margin-top: 30px;
}


/*Exp*/

.exp-class .progress{
	height: 10px;
	border-radius: 20px;
	font-size: 10px;
}


.progress-bar{
	background-color: #EE8683 !important;
}

/*services*/

.card,.card-header{
	background: #F8F9FA !important;
}

.card-header{
	border:none !important;
}

.services-class .card-header i{
	font-size: 50px;
}

.services-border{
	height: 2px;
	width: 40px;
	margin: 15px auto;
	background: #e65f78;
}

/*services*/



.card-header{
	border: none !important;
}

.services-class .card-header i{
	font-size: 50px;

}

.service-border{
	height: 2px;
	width: 40px;
	margin: 15px auto;
	background: #e65f78;
}


/* owl carousel */

.testimony-class .test-item{

	max-width: 50px auto;

}

.testimony-class .test-item .test-img{
	width:50px;
	height: 50px;
	object-fit: cover;
	margin:auto;
}

.testimony-class .test-item i{
	color: grey;
}

.test-item p.test-name{
	font-size: 11px;
}


/* Work */

.work .card-wrapper{
	padding-top: 15px;
	padding-bottom: 15px;
}

/*contact us*/

.contact .r-icon{
	font-size: 50px;
	text-align: center;
}
.s-btn{
	margin-left: 850px;
	margin-top: 10px;
}


.a-image{
	max-width: 100%;
	max-height: 150px;
}

/*footer*/

footer{
	height: 200px;
	background-color: #333333;
}

footer .r-icon a{
	font-size: 20px;
	color: #848484;
	padding: 10px;
	border: 1px solid #848484;
	border-radius: 50%;
}

footer.r-icon a:hover{
	border:1px solid #eee;
	color: #eee;
	transition: .5s all;
}

.h-1{
	color: 	#DAA520;
}



